{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "importOrder": [
    "^(assets|constants|components|context|hooks|lib|pages|routes|services|styles|ui|utils)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}